* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    width: 100vw;
}
.App {
    height: 100%;
    width: 100%;
    padding: 15px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border: 3px solid #61dafb;
    margin-top: 15px;
    border-radius: 15px;
}

.post_btn {
    display: flex;
}
.post-enter {
    transform: translateX(-350px);
}   
.post-enter-active {
    transform: translateX(350px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page_wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid #61dafb;
    cursor: pointer;
}

.page_current {
    border: 3px solid  #44f3b0;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: darkgray;
}

.navbar_link {
    margin-left: 10px;
    padding: 10px;
    text-decoration: none ;
    border: 3px solid  #44d9f3;
    color: black;
    list-style: none;
}